.my-bookings-area{
    margin-top: 150px;
    text-align: center;
}
.my-bookings {
    display: grid;
    grid-template-columns: 1fr;
    width: 80%;
    margin: 200px auto;
}

@media only screen and (max-width: 768px){
    .my-bookings {
        grid-template-columns: repeat(1, 1fr);
        gap: 50px;
    }
}